.fillterConteiner{
display: flex;
justify-content: center;
font-family: B-yekan;
color: var(--primary-color);
}
.fillterWraper{
    background-color: var(--secondary-color);
    width: 95%;
    margin-top: 100px;
    border-radius: 40px;
}
.fillterWraperActive{
    width: 70%;
    margin-right: 25%;
}
.titleAddMarket h2{
    font-size: 2rem;
    padding: 1rem;
}
.titleAddMarket hr{
    border: 2px solid var(--primary-color) ;
}